@media(max-width: 450px){
    div.carrinho-valor{
        display: none;
    }

}

@media (max-width: 750px){
    .header-menu{
        display: none;
    }
    header.container{
        padding: 17px 12px;
    }
    .menu-phone{
        display: flex;
    }
    .menu-phone .material-symbols-outlined{
        background-color: rgba(255, 255, 255, 0);
        padding-bottom: 25px;
        margin: 0px;
        width: 24px;
        height: 8px;
        cursor: pointer;   
    }

    div.text-banner h1{
        font-size: 10vw;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.171);
    }
    div.text-banner p{
        color: white;
        font-size: 3vw;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.171);
    }
    section.fundo-banner{
        height: 50vh;
        padding: 0px 12px;
    }
}

@media (max-width: 805px){
    section.categorias{
        flex-direction: column;
    }
}

@media (max-width: 900px){
    
    .banner-fundo h1{
        font-size: 2.6em;
        width: 600px;
    }
    .banner-fundo h2{
        font-size: 2.3em;
        width: 600px;
    }   
    .banner-fundo p{
        font-size: 1em;
        width: 400px;
    }
    .footer-container{
        flex-direction: column;
        gap: 25px;
    }
    .maps iframe{
        width: 80vw;
        height: 250px;
    }
}

@media (max-width: 605px){
    .banner-fundo{
        height: 47vh;
    }
    .banner-fundo h1{
        font-size: 22px;
        max-width: 320px;
    }
    .banner-fundo h2{
        font-size: 20px;
        max-width: 320px;        
    } 
    .banner-fundo p{
        font-size: 14px;
        max-width: 320px;
    }
    .banner-fundo a{
        font-size: 22px;
    }
    .destaques{
        margin-bottom: 25px;
        justify-content: center;
    }
    aside{
        width: 280px;
        background-color: white;
        padding: 12px;
        margin-left: 6px;
        border-radius: 12px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.068);
        font-family: fonte4;
    }
    aside img{
        width: 70%;
        margin-bottom: 12px;
    }
    aside a{
        font-size: 12px;
        padding: 4px;
    }
}

@media (max-width: 536px){
    article.produto-container{
        grid-template-columns: repeat(2, minmax(0px ,1fr));
    }
    article.produto div.valor-carrinho{
        gap: 8px;
        font-size: 3.2vw;
    }
}


