@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: white;
    scroll-behavior: smooth;
}
header.container{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1162D4;
}
.header-text{
    text-align: center;
    font-size: 0.9em;
    font-family: fonte2;
    color: white;

    display: flex;
    align-items: center;
    gap: 12px;
}
.header-paragrafo{
    font-size: 14px;
    color: #86b7fc;
}
.header-logo i{
    align-content: center;
    justify-items: center;
    font-size: 24px;
    width: 34px;
    height: 34px;
    background-color: #4181DD;
    padding: 6px;
    border-radius: 50%;
}
.carrinho-container{
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 12px;
    background-color: #4D89DF;
    border-radius: 12px;
}
.carrinho-icon{
    color: white;
}
.carrinho-valor{
    color: white;
    font-family: fonte3;
}
.fundo-banner{
    background-image: url(img/banerfundo.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.fundo-banner h1{
    line-height: 01em;
    font-size: 4em;
    font-family: fonte3;
    color: white;
    margin-bottom: 12px;
}
span.destaque-banner{
    color: #DA4E4E;
}
.fundo-banner p{
    color: rgba(202, 202, 202, 0.856);
    font-family: fonte2;
    max-width: 80%;
    margin-bottom: 45px;
    font-size: 1.1em;
}
.fundo-banner .produtos-banner a{
    background-color: #DA4E4E;
    padding: 14px;
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.212);
    color: white;
    text-decoration: none;
    font-family: fonte3;
    transition: 0.5s;
}
.fundo-banner .produtos-banner a:hover{
    color: #e4e4e4;
    background-color: #dd3d3d;
    font-size: 17px;
}
main{
    
    max-width: 87%;
    margin: auto;
}
section.produtos ul{
    list-style: none;
}
section.produtos h1{
    font-family: fonte3;
    margin: 25px 0px 25px 0px;
}
.categorias-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
}
.categorias-container li a{
    font-family: fonte2;
    text-decoration: none;
    background-color: #EDF1F7;
    color: #0D74C7;
    padding: 6px 12px;
    border-radius: 14px;
}
.categorias-container li a:focus{
    background-color: #1162D4;
    color: white;
}
h1 > a > i{
    color: rgba(0, 0, 0, 0.438);
    transition: 0.5s;
}
h1 > a > i:hover{
    color: black;
}
article.produto-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    margin-top: 25px;
}
article.produto{
    border: 1px solid rgba(0, 0, 0, 0.048);
    border-radius: 12px;
    padding: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.014);
    transition: 0.5s;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
}
article.produto:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.089);
}
article.produto img{
    background-color: rgba(217, 255, 253, 0.089);
    border-radius: 12px;
    padding: 12px;
    width: 180px;
    max-height: 180px;
    
}
article.produto .produto-tipo{
    color: #DA4E4E;
    font-family: fonte2;
    padding-top: 18px;
}
article.produto .nome-produto{
    font-family: fonte3;
    margin-bottom: 6px;
    font-size: 1.2em;
}
article.produto .descricao-produto{
    color: rgb(134, 134, 134);
    font-family: fonte2;
    font-size: .8em;
    margin-bottom: 8px;
    flex-grow: 50;
}
article.produto div.valor-carrinho{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    font-family: fonte3;
    color: #1162D4;
    flex-grow: 1;

}
div.valor-carrinho button{
    display: flex;
    gap: 6px;
    background-color: #1162D4;
    border: 0px;
    padding: 7px;
    border-radius: 8px;
    color: white;
    font-family: fonte2;
    transition: 0.5s;
    cursor: pointer;
}
div.icon-carrinho{
    color: rgba(255, 255, 255, 0.863);
}
div.valor-carrinho button:hover{
    transform: scale(1.05);
}


































.farmacia{
    color: rgb(255, 0, 0);
}
.genial{
    color: #dd3d3d;
}


























.material-symbols-outlined{
    margin-top: 12px;
}
.material-symbols-outlined, #um{
    background-color: #E7EFFA;
    color: #1763CE;
    font-size: 2.5em;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 14px;
}

.footer{
    margin-top: 70px;
    background-color: #ffffff;
}
.footer h1{
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-family: fonte3;
}
.footer-container{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.infos-col{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-size: 1em;
    font-family: fonte4;
}
.infos-col p{
    color: #7c8994fa;
}
.maps iframe{
    width: 500px;
    height: 250px;
}
.footer2-container{
    text-align: center;
    background-color: #1763CF;
    padding: 8px;
    font-family: fonte4;
}
.footer2-container a{
    text-decoration: none;
    color: #84ace4;
    padding: 0px 4px;
}
.footer2-container h1{
    color: white;
    font-size: 17px;
    padding: 25px 0px 0px 0px;
}
.footer2-container p{
    color: #9bb9e4;
    font-size: 14px;
    padding: 12px 0px;
}






